TurtleChallenge.Services/obj
TurtleChallenge.Services/bin
TurtleChallenge.Models/obj
TurtleChallenge.Models/bin
TurtleChallenge.Console/obj
TurtleChallenge.Console/bin
TurtleChallenge.Console/.vs
TurtleChallenge.Tests/obj
TurtleChallenge.Tests/bin
